---
import Layout from "../layouts/Layout.astro";
import Markdown from "../components/Markdown.astro";
import Readme from "../../README.md";
---

<Layout>
  <main class="">
    <Markdown>
      <Readme />
    </Markdown>
  </main>
</Layout>
