---

---

<div
  class="prose prose-h1:hidden prose-th:text-base prose-thead:font-normal prose-headings:font-normal prose-h1:text-6xl prose-headings:text-4xl text-black [&_ol]:pl-[1rem]"
>
  <slot />
</div>
